In [1]:
import numpy as np
import pandas as pd

In [2]:
! ls

55175_105481_compressed_yoochoose-buys.dat.zip
55175_105481_compressed_yoochoose-clicks.dat.zip
55175_105481_compressed_yoochoose-test.dat.zip
preprocessing.ipynb
yoochoose-buys.dat
yoochoose-clicks.dat
yoochoose-test.dat

In [20]:
path_buys = "yoochoose-buys.dat"
path_clicks = "yoochoose-clicks.dat"
path_test = "yoochoose-test.dat"

In [21]:
buys_head = ["session_id","time", "item_id", "price", "quantity"]
clicks_head = ["session_id","time", "item_id", "category"]
test_head = ["session_id","time", "item_id", "category"]

In [22]:
buys = pd.read_csv(path_buys, sep=',', names=buys_head)
clicks = pd.read_csv(path_clicks, sep=',', names=clicks_head)
test = pd.read_csv(path_test, sep=',', names=test_head)

/Users/darenma/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
buys.head()

   session_id                      time    item_id  price  quantity
0      420374  2014-04-06T18:44:58.314Z  214537888  12462         1
1      420374  2014-04-06T18:44:58.325Z  214537850  10471         1
2      281626  2014-04-06T09:40:13.032Z  214535653   1883         1
3      420368  2014-04-04T06:13:28.848Z  214530572   6073         1
4      420368  2014-04-04T06:13:28.858Z  214835025   2617         1

In [27]:
clicks.category.unique()

array([0, '0', 'S', '4', '7', '3', '2', '1', '2089286907', '6', '5', '10',
       '9', '2089422131', '11', '2089538467', '2089134472', '2088954951',
       '2089529540', '2088904854', '12', '2088962571', '2089074648',
       '2088937105', '2088942073', '2089437536', '2089045199',
       '2089538518', '2089318666', '2089046251', '2089080971',
       '2089318689', '2089221555', '2088919107', '2089615479',
       '2089282437', '2089286963', '2088954790', '2089322935',
       '2088918545', '2089134726', '2089358732', '2089440550',
       '2089282248', '2089677914', '2089580969', '2089404239',
       '2089569829', '2089437418', '2089646261', '2089574086',
       '2089246594', '2088894828', '2088973177', '2089142981',
       '2089531793', '2089615685', '2088999608', '2089116929',
       '2089546185', '2089688609', '2088901091', '2088903330',
       '2089498194', '2089287217', '2089570176', '2089584494',
       '2088954811', '2089425918', '2089012690', '2088900589',
       '2089545046', '2089156185', '2089421940', '2088918717',
       '2089102920', '2089587286', '193474229', '2089581061',
       '2089574647', '2089246862', '193468660', '2089261238',
       '2089053629', '2089673500', '2089785660', '2089046367',
       '2089529808', '2089574530', '2089267025', '2089546181',
       '2088901303', '2089421989', '2088918499', '2089138786',
       '2088936975', '2089062528', '2088886898', '2089509047',
       '2089300095', '2089322634', '2089005972', '2088934084',
       '2089242444', '2088904392', '2088894855', '2088922874',
       '2089287221', '2089529785', '2089278244', '2088927353',
       '193455450', '2089098171', '2089314317', '2088922942',
       '2088970056', '2089084286', '2089062631', '2089613859',
       '2089138618', '2089318476', '2089509324', '2089314120',
       '2088954794', '2088433845', '2089282830', '2089046255',
       '2089583963', '2089421636', '2089026871', '2089678081',
       '2089256511', '2089537004', '2089329636', '2089440547',
       '2089545070', '2088884832', '193450130', '2089602375',
       '2088954948', '2089134339', '2089031735', '2089615882',
       '2088937436', '2089040513', '2089509063', '2088966627', '5862488',
       '2089426426', '2089581360', '2089421941', '2088937100',
       '2089545230', '2089440540', '2089581051', '2089422231',
       '2089408033', '2089080779', '2089256065', '2089365270',
       '2088995234', '193452342', '2088975502', '5862467', '2089354624',
       '2089532158', '2088930441', '2088902785', '2088963687',
       '2089570234', '2088966377', '2089646389', '2088895722',
       '2088923475', '2088937098', '193463083', '2088956570',
       '2089242157', '2089538294', '2089155866', '2088923411',
       '2089498072', '2088896186', '2089534174', '2088954957',
       '2089615768', '2088999234', '2089074798', '2089299996',
       '2089155957', '2089512491', '2089515459', '2089365625',
       '2089569849', '2089515826', '2089364969', '2089035804',
       '2089584296', '2088962268', '2089646488', '2089583964',
       '2088934284', '2089046403', '2088937230', '2089440548',
       '2089134332', '2088885910', '2089494131', '2088954981',
       '2089538227', '2089421923', '2089538483', '2089074450',
       '2088962267', '2089425929', '193459817', '2089796643',
       '2089443905', '2089329443', '2089046057', '2089785725',
       '2089502248', '2089543895', '2089422121', '2089184261',
       '2088897268', '2089437177', '193454725', '5862365', '2089114151',
       '2089318732', '2089440555', '2089106896', '2089429458',
       '2089278243', '2089529979', '2088940831', '2089745323',
       '193450487', '2089257696', '2088995049', '2089318699',
       '2089498399', '193450751', '2088962151', '2088902668',
       '2089286558', '2088966824', '193461989', '2089545290',
       '2089033251', '2088934261', '2089350387', '2089246877',
       '2089677910', '2088884272', '2088954942', '2089098700',
       '2089002572', '2089293264', '193465576', '2089251166',
       '2089084409', '2089287155', '2089570031', '2089433856',
       '2089724877', '2089537478', '2088930524', '2089583842',
       '2089350358', '2089508765', '2089149692', '2088937233',
       '2089581155', '2088926238', '2089498417', '2089508713',
       '2088980919', '2088995245', '2089138525', '2089421594',
       '2088966970', '2089026852', '2089246682', '2088899346',
       '2088893676', '2088966382', '2088927718', '2089440554',
       '2089673487', '2089313958', '2089160873', '2089354675',
       '2089399917', '2088954940', '2089078009', '2089286693',
       '2088896667', '2089642107', '2089678894', '2089134695',
       '2089314060', '2088903341', '2089531780', '2088954992',
       '2089436882', '193452189', '2088901461', '2089313826',
       '2089286957', '2089314345', '2089156240', '2089160270',
       '2089179505', '2089253994', '2089318108', '193464283',
       '2089251239', '2089028904', '2089039830', '2089619803',
       '2090232171', '2088959317', '2089531802', '5862231', '2088973024',
       '2089282777', '2088995281', '2089509329', '2089251022',
       '2089084275', '2089759631', '2089314197', '2088970021', '8',
       '2089580928', '193469695', '2089573539', '2089314263'],
      dtype=object)

In [24]:
test.head()

   session_id                      time    item_id category
0           5  2014-04-07T17:13:46.713Z  214530776        0
1           5  2014-04-07T17:20:56.973Z  214530776        0
2           5  2014-04-07T17:21:19.602Z  214530776        0
3          10  2014-04-04T07:44:14.590Z  214820942        0
4          10  2014-04-04T07:45:20.245Z  214826810        0